p {margin:0px; padding:0px; line-height:100%}
.cLinkHidden {position:absolute; visibility:hidden; left:0px; top:0px; width:0px; height:0px; overflow:hidden;}
#Page {overflow:hidden;position:relative;width:960px;height:1000px;z-index:1;}
#game {display:block;overflow:hidden;position:absolute;left:118px;top:126px;width:725px;height:575px;z-index:2;}
#Img1 {display:block;overflow:hidden;position:absolute;left:118px;top:11px;width:193px;height:100px;z-index:3;}
#Img1Inner {position:absolute;width:193px;height:100px;border:0px;}
#Img2 {display:block;overflow:hidden;position:absolute;left:310px;top:83px;width:500px;height:28px;z-index:4;}
#Img2Inner {position:absolute;width:500px;height:28px;border:0px;}
